
<h1>Philly Shape Note Jamulus</h1>

<p>
  Welcome to the Philadelphia Sacred Harp Jamulus server. <i>"I know it is not very far."</i>
</p>

<p>
  <b>We sing weekly from 7pm-9pm EST every Thrursday.</b>
</p>

<ul>
  <li>The first hour is usually from the Denson Sacred Harp (red book)</li>
  <li>The second hour from the Shenandoah Harmony</li>
  <li>Leaders will generally be called first from Jamulus and then from Zoom;<br> it's always okay to pass. </li>
  <li>Join us on Zoom here: <a href="https://sju.zoom.us/j/98567746829?pwd=c3dMVHJMS0l2RmNydkxxbTM1cXYvdz09">https://sju.zoom.us/j/98567746829?pwd=c3dMVHJMS0l2RmNydkxxbTM1cXYvdz09</a>
  </li>
  <li><a href="https://docs.google.com/spreadsheets/d/1EQX699BsYImW4PwaJ9zBwdArphPheridh2dQrWOSd80/edit#">Click here</a> if you'd like to sign up for a task to help.</li>
</ul>

<p>
  <b>If this is not our weekly sing, we hope you enjoy singing on the server.</b> <br>
  Other Sacred Harp jamulus sings can be found here: <a href="http://phillyfasola.bot.nu/singings.html">phillyfasola.bot.nu/singings.html</a>.
</p>
