body {
    margin: 40px auto;
    max-width: 920px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    background: #FCFCFC;
    padding: 0 10px;
}

footer{
    font-size:12px;
}

h1,h2,h3 {
    line-height: 1.2;
}
img {
    border: 0;
    max-width:100%;
    max-height:90%;
}
